body {
    background-image: url(../images/bg6.jpg);
    background-repeat: none;
    background-size: auto;
}

h1 {
    color: white;
    font-size: 40px;
}

h3 {
    color: white;
    margin-bottom: 5%;
}

div {
    float: left;
    clear: both;
    margin-bottom: 1%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.obiBlock,
.lukeBlock,
.sidBlock,
.maulBlock {
    width: 150px;
    border: 1px solid grey;
    float: left;
    clear: none;
    margin: 3px;
    text-align: center;
    background-color: white;
    color: black;
}

#obi,
#luke,
#sid,
#maul {
    width: 100%;
}

.yourChar,
.enemiesList,
.fightSection,
.defender {
    font-size: 20px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.selectedChar {
    height: 150px;
}

button {
    padding: 5px;
    background-color: white;
    color: #3F7FBF;
    font-weight: bold;
    font-size: 12px;
}