div {
    float: left;
    clear: both;
}

.obiBlock,
.lukeBlock,
.sidBlock,
.maulBlock {
    width: 150px;
    border: 2px solid grey;
    float: left;
    clear: none;
    margin: 3px;
    text-align: center;
    background-color: lightblue;
}

#obi,
#luke,
#sid,
#maul {
    width: 100%;
}